# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-project-publishable-key
SUPABASE_SECRET_KEY=your-project-secret-key
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET_NAME=your-bucket
NEXT_PUBLIC_EDITOR_UPLOAD_ROOT=editor